* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 39px 0 0;

}
ul{
    display: flex;
    flex-direction: column;
    gap:15px
}
li{
    list-style-type: none;
    display: flex;
    gap:15px
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}